body {
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #01beb4;
  background: #fee8ef;
  background: linear-gradient(to right bottom, #fee8ef 50%, #b6cdfd 50%);
  height: 100vh;
  margin: 0;
  text-align: center;
}

#display_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-size: cover;
}

.button {
  box-sizing: border-box;
  display: inline-block;
  padding: 0 10px;
  margin: 5px;
  cursor: pointer;
  font-family: inherit;
  font-size: 1em;
  line-height: 2;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  background: white;
  color: #01beb4;
  border: 3px solid #01beb4;
  border-radius: 6px;
  outline: none;
}

.button:hover,
.button:focus {
  outline: none;
  background: #bdf0f1;
}

input {
  width: 0;
  height: 0;
  opacity: 0;
  cursor: pointer;
  display: none;
}

a,
a:visited {
  color: #01beb4;
  text-decoration: none;
  border-bottom: 1px solid #01beb4;
  /*border-bottom: 3px solid #01beb4;
  box-shadow: inset 0 -2px 0 #01beb4;*/
  color: inherit;
  -webkit-transition: background 0.15s cubic-bezier(0.33, 0.66, 0.66, 1);
  transition: background 0.15s cubic-bezier(0.33, 0.66, 0.66, 1);
}

a:hover {
  background: #01beb4;
  color: white;
}

footer {
  border-top: 3px solid #01beb4;
  margin: 30px 0;
  padding: 10px 0;
  text-transform: uppercase;
  font-size: 14px;
}

.output {
  min-height: 300px;
}

/* loading animation */
* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  font-size: calc(16px + (24 - 16) * (100vw - 320px) / (1920 - 320));
}

/** Container **/
main {
  display: flex;
  flex-wrap: wrap;
}
.cell {
  flex-basis: 50%;
  padding: 1.5em;
}

/** Global preloader styles **/
.pl,
.pl:before,
.pl:after {
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: 5s;
}
.pl {
  margin: 0 auto 1.5em auto;
  position: relative;
  width: 3em;
  height: 3em;
}
.pl:before,
.pl:after {
  background: currentColor;
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  transform-origin: 50% 100%;
  clip-path: polygon(0 0, 100% 0, 50% 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 50% 100%);
}
.pl-name {
  text-align: center;
}

/** Styles for individual preloaders **/
/* Bow */
.pl-bow {
  animation-name: bowA;
  animation-duration: 5s;
}
.pl-bow:after {
  transform: rotate(180deg);
}
@keyframes bowA {
  from {
    transform: scale(1, 1) rotate(0turn);
  }
  25%,
  35%,
  50% {
    transform: scale(1, 1) rotate(0.75turn);
  }
  30% {
    transform: scale(1.25, 1) rotate(0.75turn);
  }
  75%,
  85%,
  to {
    transform: scale(1, 1) rotate(1.5turn);
  }
  80% {
    transform: scale(1, 1.25) rotate(1.5turn);
  }
}
